.ppWrapper {
    padding: 6% 16%;
    width: 100%;
    background: var(--black-color-4);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ppTitle {
    border-bottom: 0.1px solid #D2D2D2;
    width: max-content;
    font-size: 22px;
    color: #D2D2D2;
    margin: 30px 0;
    line-height: 30.8px;
    font-weight: 700;
}

.ppList {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 40px;
    color: #D2D2D2E5;
    font-size: 22px;
    /* gap:15px; */
    line-height: 30.8px;
    font-weight: 300;
    margin-top: 15px;
}

.ppDescription {
    color: #D2D2D2E5;
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 300;
    /* margin-bottom: 30px; */
}

.ppBottomContent {
    color: #D2D2D2E5;
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 300;
    margin-top: 30px;
}

.ppInfo {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #D2D2D2;
    line-height: 30.8px;
}

.ppListUl li {
    font-size: 22px;
}

@media screen and (max-width: 1700px) {
    .ppTitle {
        font-size: 20px;
        margin: 25px 0;
        line-height: 30.8px;
        font-weight: 700;
    }

    .ppList {
        padding: 0 25px 0 33px;
        line-height: 27.8px;
        margin-top: 12px;
    }

    .ppDescription {
        font-size: 20px;
        line-height: 27.8px;
    }

    .ppBottomContent {
        font-size: 20px;
        line-height: 27.8px;
        margin-top: 25px;
    }

    .ppInfo {
        margin-top: 12px;
        font-size: 20px;
        line-height: 27.8px;
    }

    .ppListUl li {
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .ppTitle {
        font-size: 17px;
        margin: 20px 0;
        line-height: 23.8px;
    }

    .ppList {
        padding: 0 20px 0 30px;
        line-height: 23.8px;
        margin-top: 12px;
    }

    .ppDescription {
        font-size: 17px;
        line-height: 23.8px;
    }

    .ppBottomContent {
        font-size: 17px;
        line-height: 23.8px;
        margin-top: 20px;
    }

    .ppInfo {
        margin-top: 12px;
        font-size: 17px;
        line-height: 23.8px;
    }

    .ppListUl li {
        font-size: 17px;
    }
}

@media screen and (max-width: 1000px) {
    .ppTitle {
        font-size: 14px;
        margin: 20px 0;
        line-height: 20.8px;
    }

    .ppList {
        padding: 0 10px 0 15px;
        line-height: 20.8px;
        margin-top: 12px;
    }

    .ppDescription {
        font-size: 12px;
        line-height: 17.8px;
    }

    .ppBottomContent {
        font-size: 12px;
        line-height: 17.8px;
        margin-top: 10px;
    }

    .ppInfo {
        margin-top: 12px;
        font-size: 12px;
        line-height: 17.8px;
    }

    .ppListUl li {
        font-size: 12px;
        line-height: 17.8px;
    }
}