.navbar {
  position: relative;
}

.navbarWrap {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100px;
  padding: 0px 45px;

  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.navbarLeft {
  width: inherit;
}

.logoImage {
  width: auto;
  height: 55px;
  object-fit: contain;
  cursor: pointer;
}

.navbarRight {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbarRight ul {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

.navbarRight ul li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
  cursor: pointer;
}

.navbarRight ul li span:last-child {
  display: flex;
  justify-content: center;
}

.menuDropDownArrow {
  display: flex;
  transform: rotate(90deg);
}

.emptyDiv {
  height: 100px;
}

.navbarProductWrap {
  position: relative;
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 25px 15px;
  background-color: var(--black-color-3);

  max-height: 80vh;
  overflow-y: scroll;
}

.navbarProductWrap::-webkit-scrollbar {
  display: none;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.menuHeader h3 {
  font-size: 20px;
  color: var(--title-color);
}

.menuHeader span {
  display: flex;
  margin: 1px 0 0;
  transition: all 0.4s ease-in-out;
}

.subMenuContainer {
  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
}

.subMenuContainer a {
  text-decoration: none;
}

.subMenuContainer p {
  font-size: 18px;
  padding: 7px 12px 5px 12px;

  height: 35px;
}

.mobileNavbarWrap {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--black-color-3);

  height: 100vh;
  width: 70vw;

  transition: all 0.4s ease-in-out;
}

.mobileNavbarWrap ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  list-style: none;

  max-height: 100vh;
  overflow-y: scroll;

}

.mobileNavbarWrap ul li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  cursor: pointer;
}

.mobileNavbarWrap ul li span:last-child svg {
  width: 28px;
}


.mobileNavbarProductWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
}

.mobileMenuHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.mobileMenuHeader h3 {
  font-size: 16px;
  color: var(--title-color);
}

.mobileMenuHeader span {
  display: flex;
  margin: 1px 0 0;
  transition: all 0.4s ease-in-out;
}

.navbarClose {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  .logoImage {
    height: 40px;
  }

  .navbarRight ul li {
    font-size: 20px;
  }

  .menuHeader h3 {
    font-size: 16px;
  }

  .subMenuContainer p {
    font-size: 14px;
  }

  .navbarRight ul li span:last-child {
    width: 26px;
  }
}

@media screen and (max-width: 1300px) {
  .logoImage {
    height: 35px;
  }

  .navbarWrap {
    grid-template-columns: 35% 65%;
  }

  .navbarRight ul li {
    font-size: 18px;
    gap: 10px;
  }

  .menuHeader h3 {
    font-size: 14px;
  }

  .subMenuContainer p {
    font-size: 13px;
  }

  .navbarRight ul li span:last-child {
    width: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .navbarRight {
    display: flex;
    justify-content: flex-end;
  }

  .navbarRight ul {
    display: none;
  }

  .toggleWrap span {
    cursor: pointer;
  }
}

@media screen and (min-width: 1001px) {
  .toggleWrap {
    display: none;
  }

  .mobileNavbarWrap {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbarWrap {
    padding: 0 20px;
    height: 70px;
  }

  .logoImage {
    width: auto;
    height: 30px;
  }

  .emptyDiv {
    height: 70px;
  }
}

@media screen and (max-width: 400px) {
  .navbarWrap {
    padding: 0 20px;
  }

  .logoImage {
    width: auto;
    height: 20  px;
  }
}