.abtUsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 0;
    width: 100%;
}

.abtUsTitle {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--title-color);
}

.abtUsHeader {
    width: 80%;
    text-align: center;

    font-size: 64px;
}

.abtUsImg {
    width: 53%;
    height: 430px;
    border-radius: 20px;
    margin: 50px 0;
    object-fit: cover
}

.abtUsDesc {
    width: 92%;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
}

.abtUsDetailsWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.abtUsDetailsWrap p {
    font-size: 24px;
    font-weight: 400;
    color: var(--title-color);
    line-height: 32px;
}

.abtUsDetailContainer {
    display: flex;
    margin: 60px 0;
    width: 80%;
}

.abtUsDetailTitle {
    margin-left: 2%;
    flex: 1;
}

.abtUsDetailTitle h1 {
    font-weight: 500;
    font-size: 47.9px;
}

.abtUsDetailDesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    gap: 20px;
}

.abtUsline {
    border: 1px solid #393939;
    width: 90%;
}

.abtUsCountCon {
    padding: 5vh 0 8vh;
    width: 75%;
    display: flex;
    gap: 40px;
    /* align-items: center; */
    justify-content: center;
}

.aboutEachCount {
    flex: 1;
    border-top: .5px solid #8080803e;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutEachCount h1 {
    font-size: 86px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.aboutEachCount h3 {
    font-size: 19.1px;
    font-weight: 400;
}

@media screen and (max-width: 1700px) {
    .abtUsContainer {
        margin: 50px 0;
    }

    .abtUsHeader {
        font-size: 48px;
    }

    .abtUsDesc {
        width: 92%;
        line-height: 35px;
    }

    .abtUsDetailsWrap p {
        font-size: 18px;
        line-height: 26px;
    }

    .abtUsDetailTitle h1 {
        font-size: 36px;
    }

    .aboutEachCount {
        gap: 5px;
    }

    .aboutEachCount h1 {
        font-size: 66px;
    }

    .aboutEachCount h3 {
        font-size: 17.1px;
    }
}

@media screen and (max-width: 1300px) {
    .abtUsContainer {
        margin: 40px 0;
    }

    .abtUsHeader {
        font-size: 44px;
    }

    .abtUsTitle {
        margin-bottom: 10px;
    }

    .abtUsImg {
        height: 400px;
        margin: 30px 0;
    }

    .abtUsDesc {
        width: 92%;
        line-height: 30px;
    }

    .abtUsDetailsWrap p {
        font-size: 16px;
        line-height: 24px;
    }

    .abtUsDetailTitle h1 {
        font-size: 32px;
    }

    .aboutEachCount {
        gap: 5px;
    }

    .aboutEachCount h1 {
        font-size: 56px;
    }

    .aboutEachCount h3 {
        font-size: 16.1px;
    }
}

@media screen and (max-width: 1000px) {
    .abtUsContainer {
        margin: 30px 0;
    }

    .abtUsHeader {
        font-size: 32px;
    }

    .abtUsImg {
        height: 370px;
        margin: 25px 0;
    }

    .abtUsDesc {
        width: 92%;
        font-size: 20px;
        line-height: 26px;
    }


    .abtUsDetailTitle {
        margin: 0;
    }

    .abtUsDetailContainer {
        margin: 30px 0;
        flex-direction: column;
        gap: 20px;
    }

    .abtUsDetailsWrap p {
        font-size: 16px;
        line-height: 24px;
    }

    .abtUsDetailTitle h1 {
        font-size: 32px;
    }

    .aboutEachCount {
        gap: 5px;
    }

    .aboutEachCount h1 {
        font-size: 46px;
    }

    .aboutEachCount h3 {
        font-size: 14.1px;
    }
}

@media screen and (max-width: 800px) {
    .abtUsContainer {
        margin: 25px 0;
    }

    .abtUsHeader {
        font-size: 30px;
    }

    .abtUsImg {
        height: 350px;
        width: 70%;
        margin: 25px 0;
    }

    .abtUsDesc {
        width: 92%;
        font-size: 18px;
        line-height: 22px;
    }


    .abtUsDetailTitle {
        margin: 0;
    }

    .abtUsDetailContainer {
        margin: 25px 0;
        flex-direction: column;
        gap: 15px;
    }

    .abtUsDetailsWrap p {
        font-size: 14px;
        line-height: 24px;
    }

    .abtUsDetailTitle h1 {
        font-size: 32px;
    }

    .aboutEachCount {
        gap: 5px;
    }

    .aboutEachCount h1 {
        font-size: 36px;
    }

    .aboutEachCount h3 {
        font-size: 13.1px;
    }
}

@media screen and (max-width: 500px) {
    .abtUsContainer {
        margin: 15px 0;
    }

    .abtUsHeader {
        font-size: 22px;
    }

    .abtUsImg {
        height: 250px;
        width: 85%;
        margin: 25px 0;
    }

    .abtUsDesc {
        width: 92%;
        font-size: 14px;
        line-height: 20px;
    }


    .abtUsDetailTitle {
        margin: 0;
        text-align: center;
    }

    .abtUsDetailDesc {
        text-align: center;
    }

    .abtUsDetailContainer {
        margin: 15px 0;
        flex-direction: column;
        gap: 10px;
    }

    .abtUsDetailsWrap p {
        font-size: 12px;
        line-height: 18px;
    }

    .abtUsCountCon {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .abtUsDetailTitle h1 {
        font-size: 32px;
    }

    .aboutEachCount {
        gap: 5px;
    }

    .aboutEachCount h1 {
        font-size: 36px;
    }

    .aboutEachCount h3 {
        font-size: 13.1px;
    }
}