.aboutUsWrap {
  padding: 5.5% 7.5%;
  display: flex;
  align-items: center;
  gap: 45px;
}

.aboutUsImage {
  flex: 1;
  width: 50%;
  height: 470px;
  object-fit: cover;
}

.aboutUsContainer {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backgroundText {
  width: max-content;
  padding: 7px 18px;

  font-size: 22px;
  font-weight: 500;
  color: var(--title-color);
  background-color: #1B1B1B;
  border-radius: 10px;
}

.aboutUsImageMobile {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.aboutUsContainer button {
  margin-top: 10px;
}

@media screen and (max-width: 1700px) {
  .aboutUsWrap {
    display: grid;
    grid-template-columns: 45% auto;
  }

  .aboutUsImage {
    width: 100%;
  }

  .backgroundText {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .aboutUsWrap {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .aboutUsImage {
    height: 400px;
  }
}

@media screen and (min-width: 1001px) {
  .aboutUsImageMobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .aboutUsWrap {
    display: grid;
    grid-template-columns: 1fr;
  }

  .aboutUsImage {
    display: none;
  }

  .aboutUsContainer {
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .backgroundText {
    padding: 4px 12px;

    font-size: 14px;
    border-radius: 10px;
  }
}