.homeBannerWrap {}

.homeBannerContainer {}

.homeBannerImageWrap {
  width: 100vw !important;
  height: calc(95vh - 100px) !important;
}

.homeBannerImage {
  width: 100%;
  height: calc(95vh - 100px) !important;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .homeBannerContainer {
    height: 70vh;
  }

  .homeBannerImage {
    width: 100%;
    height: 70vh !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  .homeBannerContainer {
    height: 50vh;
  }

  .homeBannerImage {
    width: 100%;
    height: 50vh !important;
    object-fit: cover;
  }
}