.mediaContainerWrap {
  padding: 0 3%;
  position: relative;
  height: 450px;
}

.sliderImage {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  bottom: 5%;
  z-index: 997;
  cursor: pointer;
}

.swiperButtonPrev {
  left: 46%;
}

.swiperButtonNext {
  left: 55%;
}

@media screen and (max-width:550px) {
  .mediaContainerWrap {
    padding: 0 3%;
    position: relative;
    height: 400px;
  }

  .sliderImage {
    width: 290px;
    height: 150px;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .swiperButtonPrev,
  .swiperButtonNext {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
  }

  .swiperButtonPrev {
    left: 30%;
  }

  .swiperButtonNext {
    left: 60%;
  }
}