.ourClientsWrap {
  padding: 4%;

  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.ourClientsContainer {
  position: relative;
}

.ourClientsTop,
.ourClientsBottom {
  position: absolute;
  z-index: 1;
  left: 0;

  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
}

.ourClientsTop {
  top: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.ourClientsBottom {
  bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.ourClientsImages {}

.ourClientsImages::-webkit-scrollbar {
  display: none;
}

.eachImageContainer {
  height: 350px;
  background-color: #FFFFFF;
  scale: 0.85;

  display: flex !important;
  align-items: center;
  justify-content: center;
}

.eachImage {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

@media screen and (max-width: 1700px) {
  .eachImageContainer {
    height: 330px;
    /* width: 280px; */
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .eachImageContainer {
    height: 310px;
    /* width: 250px; */
  }

  .ourClientsImages {
    gap: 35px;
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 65px;
  }
}

@media screen and (max-width: 1000px) {
  .ourClientsWrap {
    gap: 15px;
  }

  .ourClientsImages {
    gap: 30px;
  }

  .eachImageContainer {
    height: 260px;
    /* width: 220px; */
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .eachImageContainer {
    height: 230px;
    /* width: 200px; */
  }

  .ourClientsImages {
    gap: 20px;
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .eachImageContainer {
    height: 200px;
    /* width: 160px; */
  }

  .ourClientsImages {
    gap: 10px;
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .eachImageContainer {
    height: 190px;
    /* width: 150px; */
  }

  .ourClientsImages {
    gap: 10px;
  }

  .ourClientsTop,
  .ourClientsBottom {
    height: 40px;
  }
}