.Scontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    flex-direction: column;
}

.SImgwrapper {
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 1;

    width: 96%;
    height: 300px;
}

.Supportimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.SdownloadCon {
    position: relative;
    z-index: 2;

    margin: 250px 0 0;
    padding: 40px 0;
    width: 65%;
    height: max-content;

    display: flex;
    justify-content: center;
    max-height: max-content;
    background-color: white;
    border-radius: 12px;
}

.SItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SItemsDescription {
    text-align: center;
}

.SItemsDescription h2 {
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}

.SItemsDescription p {
    margin: 0 5%;
    color: #9D9D9D;
    /* font-size: 18px; */
}

.SItemSelectorCon {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0%;
    justify-content: center;
    gap: 20px;
}

.SItemSelectorCon h4 {
    color: black;
}

.SItemSelectorCon div select {
    width: 300px;
    height: 40px;
    background-color: #F9F9F9;
    border-radius: 7px;
    border: 1px solid #D7DEDD;
}

.eachSelector {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.selectedOption {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.eachSelector h4 {
    color: #333333;
    font-size: 14px;
}

.downloadBtn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.downloadBtn button {
    padding: 10px 90px;
    background-color: #121212;
    color: white;
    border-radius: 7px;
    font-size: 17px;
    line-height: 27.14px;
}

@media screen and (max-width: 1700px) {
    .SdownloadCon {
        width: 80%;
    }

    .SItemSelectorCon div select {
        width: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .SdownloadCon {
        width: 75%;
    }

    .SItemSelectorCon {
        padding: 40px 5%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .SItemSelectorCon div select {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .SdownloadCon {
        padding: 25px 0;
    }

    .SdownloadCon {
        width: 90%;
    }

    .SItemSelectorCon {
        gap: 15px;
        padding: 30px 5%;
    }

    .downloadBtn button {
        width: 100%;
        margin: 0 5%;
        padding: 8px 0px;
    }
}