.productBannerWrap {
  padding: 5%;
  background-color: var(--black-color-2);

  display: grid;
  grid-template-columns: 37.5% 58%;
  justify-content: space-between;
  align-items: center;
}

.productBannerDetails {}

.productBannerDetails button {
  margin: 50px 0 0;
  padding: 22px 60px;
  border: none;
  border-radius: 5px;

  font-size: 24px;
  font-weight: 600;
  /* letter-spacing: -1px; */

  color: var(--black-color-3);
  background-color: var(--title-color);
}

.productBannerContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productBannerContent span {
  font-size: 18px;
  color: var(--gray-color);
  font-weight: 600;
  text-decoration: underline;
  /* letter-spacing: -1px; */
}

.productBannerContent h1 {
  width: 90%;
  font-size: 42px;
  font-weight: 500;
  /* letter-spacing: -2px; */
}

.productBannerContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.5px;
  /* letter-spacing: -1px; */
  /* text-align: justify; */
  color: var(--gray-color-2);
}

.productBannerImage {
  width: 100%;
  height: 585px;
  object-fit: cover;
  border-radius: 20px;
}

.productBannerImageMobile {
  margin: 5% 0% 0%;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1700px) {
  .productBannerWrap {
    padding: 4.5%;
  }

  .productBannerDetails button {
    margin: 35px 0 0;
    padding: 18px 45px;
    font-size: 20px;
  }

  .productBannerContent span {
    font-size: 16px;
  }

  .productBannerContent h1 {
    font-size: 36px;
  }

  .productBannerContent p {
    font-size: 16px;
    line-height: 20.5px;
  }

  .productBannerImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .productBannerWrap {
    grid-template-columns: 50% 45%;
  }

  .productBannerImage {
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .productBannerWrap {
    padding: 4%;
    grid-template-columns: 60% 35%;
  }

  .productBannerDetails button {
    margin: 35px 0 0;
    padding: 14px 35px;
    font-size: 18px;
  }

  .productBannerContent span {
    font-size: 14px;
  }

  .productBannerContent h1 {
    font-size: 28px;
  }

  .productBannerContent p {
    font-size: 14px;
    line-height: 18.5px;
  }

  .productBannerImage {
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  .productBannerWrap {
    grid-template-columns: 1fr;
  }

  .productBannerImage {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  .productBannerImageMobile {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .productBannerDetails button {
    margin: 15px 0 0;
    padding: 10px 25px;
    font-size: 16px;
  }

  .productBannerContent span {
    font-size: 12px;
  }

  .productBannerContent h1 {
    font-size: 24px;
  }

  .productBannerContent p {
    font-size: 13px;
    line-height: 16.5px;
  }

  .productBannerImageMobile {
    height: 200px;
  }
}