.productWrap {
  padding: 5%;
  background-color: var(--title-color);

  display: flex;
  flex-direction: column;
  gap: 70px;
}

.buttonWrap {
  width: 90vw;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 23px;
  overflow-x: scroll;
}

.buttonWrap::-webkit-scrollbar {
  display: none;
}

.buttonWrap button {
  white-space: nowrap;
  font-size: 22px;
  font-weight: 500;

  padding: 18px 30px;
  border: 1.5px solid var(--black-color-4);
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.productContentAndImage {
  display: grid;
  grid-template-columns: 62% 35%;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.productContentWrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.productContentHeader {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productContentHeader h1 {
  font-size: 32px;
  font-weight: 700;
  color: #070707;
}

.productContentHeader p {
  font-size: 22px;
  font-weight: 400;
  color: var(--primary-color);
}

.featuresWrap {}

.featuresWrap h2 {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary-color);
}

.featuresContainer {
  margin: 25px 0 0 40px;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.featuresContainer li {
  font-size: 18px;
  font-weight: 300;
}

.featureImagesWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainImageWrap {
  width: 100%;
  height: 520px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productImages {
  display: flex;
  gap: 15px;
}

.eachImageWrap {
  flex: 1;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.eachImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brochureWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 0;
}

.brochureImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.brochureWrapContent {
  position: relative;
  z-index: 2;

  width: 100%;
  margin: 25px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brochureWrapContent h1 {
  font-size: 24px;
  font-weight: 600;
}

.brochureButton {
  font-size: 24.9px;
  font-weight: 600;
  letter-spacing: -1px;
  z-index: 2;

  padding: 12px 45px;
  border: 1.5px solid var(--black-color-4);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  .productWrap {
    padding: 5%;
    gap: 40px;
  }

  .buttonWrap {
    gap: 20px;
  }

  .buttonWrap button {
    font-size: 18px;
    font-weight: 500;

    padding: 16px 30px;
  }

  .productContentWrap {
    gap: 45px;
  }

  .productContentHeader h1 {
    font-size: 24px;
  }

  .productContentHeader p {
    font-size: 18px;
  }

  .mainImageWrap {
    height: 480px;
  }

  .eachImageWrap {
    height: 120px;
  }

  .featuresWrap h2 {
    font-size: 20px;
  }

  .featuresContainer {
    margin: 25px 0 0 25px;
  }

  .featuresContainer li {
    font-size: 15px;
  }

  .brochureWrapContent h1 {
    font-size: 20px;
  }

  .brochureButton {
    font-size: 20.9px;
    font-weight: 600;
    padding: 10px 37px;
  }
}

@media screen and (max-width: 1300px) {
  .mainImageWrap {
    height: 400px;
  }

  .eachImageWrap {
    height: 80px;
  }

  .productContentWrap {
    gap: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .productWrap {
    padding: 4%;
    gap: 30px;
  }

  .buttonWrap {
    padding: 0 0 15px;
    justify-content: flex-start;
    gap: 15px;
    /* flex-wrap: wrap; */
  }

  .buttonWrap button {
    font-size: 14px;
    font-weight: 500;

    padding: 14px 25px;
    border-radius: 30px;
  }

  .productContentWrap {
    gap: 35px;
  }

  .productContentHeader h1 {
    font-size: 20px;
  }

  .productContentHeader p {
    font-size: 15px;
  }

  .mainImageWrap {
    height: 300px;
  }

  .eachImageWrap {
    height: 60px;
  }

  .featuresWrap h2 {
    font-size: 17px;
  }

  .featuresContainer {
    margin: 20px 0 0 25px;
  }

  .featuresContainer li {
    font-size: 13px;
  }

  .brochureWrapContent h1 {
    font-size: 18px;
  }

  .brochureWrapContent {
    margin: 20px 5vw;
  }

  .brochureButton {
    font-size: 18.9px;
    font-weight: 600;
    padding: 8px 32px;
  }
}

@media screen and (max-width: 800px) {
  .productContentAndImage {
    grid-template-columns: auto;
    gap: 30px;
  }

  .productContentWrap {
    gap: 30px;
  }

  .featureImagesWrap {
    gap: 20px;
  }

  .featuresWrapLaptop {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .buttonWrap {
    gap: 10px;
  }

  .buttonWrap button {
    font-size: 14px;
    padding: 12px 20px;
  }

  .productContentWrap {
    gap: 20px;
  }

  .productContentHeader {
    gap: 15px;
  }

  .productContentHeader h1 {
    font-size: 16px;
  }

  .productContentHeader p {
    font-size: 14px;
  }

  .mainImageWrap {
    height: 45vh;
  }

  .eachImageWrap {
    height: 50px;
  }

  .featuresWrap h2 {
    font-size: 17px;
  }

  .featuresContainer {
    margin: 20px 0 0 25px;
  }

  .featuresContainer li {
    font-size: 13px;
  }

  .brochureWrapContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .brochureWrapContent h1 {
    font-size: 18px;
  }

  .brochureButton {
    font-size: 18.9px;
    font-weight: 600;
    padding: 8px 32px;
  }
}

@media screen and (min-width: 801px) {
  .featuresWrapMobile {
    display: none;
  }
}